@use '../../../../../assets/styles/colours' as colors;

.capture-video {
  width: 100%;
  max-width: 640px;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
  background-color: colors.$black;
}
