::ng-deep .mat-mdc-form-field-bottom-align::before {
  border-bottom-color: white;
}

::ng-deep .mdc-line-ripple::before {
  border-bottom-color: white;
}

::ng-deep .mdc-line-ripple::after {
  border-bottom-color: white;
}

::ng-deep .mat-mdc-form-field .mdc-line-ripple::before {
  border-bottom-color: white !important;
}

::ng-deep .mat-mdc-form-field .mdc-line-ripple::after {
  border-bottom-color: white !important;
}
